<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="co.kr.hotel.dao.BoardDAO">

	<select id="detail" resultType="co.kr.hotel.dto.BoardDTO">
		SELECT * FROM board WHERE board_num = #{param1}
	</select>
		   
	<select id="list" resultType="co.kr.hotel.dto.BoardDTO">
		SELECT board_num, board_title, mem_id, reg_datetime FROM board
			ORDER BY board_orinum DESC , re_num asc
	</select>
		
	
	<insert id="write" useGeneratedKeys="true" parameterType="co.kr.hotel.dto.BoardDTO">
	
	INSERT INTO board(
      board_title,board_orinum,re_num,board_type,mem_id,board_content
      )VALUES(
      #{board_title},#{board_orinum},(select ifnull( max(re_num),0)+1 from board b ),2,'admin',#{board_content})
	</insert>
	

	<delete id="delete">
		DELETE FROM board WHERE board_num = #{param1}
	</delete>	
	
	<select id="count" resultType="int">
		select count(*) from board
	</select>
	
	<select id="listInfo" parameterType="co.kr.hotel.dto.PageDto" resultType="co.kr.hotel.dto.BoardDTO">
	 	SELECT board_num, board_title, mem_id, reg_datetime FROM board
	 	ORDER BY board_orinum DESC , re_num asc
	 	limit #{param1}, #{param2}
	</select> 
 
</mapper>