<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="co.kr.hotel.dao.ManagerDAO">

   <select id="adOrderList" resultType="co.kr.hotel.dto.ProductDTO">
   	SELECT * FROM product
   </select>

	<!-- 글 작성관련
   <insert id="writing" 
		useGeneratedKeys="true"
		keyProperty="product_num"
		keyColumn="product_num"
		parameterType="co.kr.hotel.dto.ProductDTO">
	INSERT INTO product(product_num, product_name, product_price)
		VALUES(#{product_num},#{product_name},#{product_price})
	</insert>
	-->
	<!-- 마일리지 상품 등록 글쓰기 페이지 -->
	<insert id="writing" parameterType="hashmap">
		INSERT INTO product(product_num, product_name, product_img,product_price)
		VALUES(#{product_num},#{product_name},#{product_img},#{product_price})
	</insert>
	
	<select id="detailing" resultType="co.kr.hotel.dto.ProductDTO">
		SELECT * FROM product WHERE product_num = #{param1}
	</select>
	
	 <delete id="del">
 		DELETE FROM product WHERE product_num = #{param1}
 	</delete>
 	
 	<!-- 관리자 회원(1) 리스트 유선화 -->
 	<select id="myReserveAllAdmin" resultType="co.kr.hotel.dto.ReserveDTO">
		SELECT r.*, sum(p.amount) as reserve_amount, ro.room_type_name,r.mem_id
		FROM (
			SELECT *
		    FROM reserve
		    ORDER BY reserve_date desc, reserve_state desc
		    LIMIT 18446744073709551615
		) as r
		left outer join pay p 
		on r.reserve_idx = p.reserve_idx 
		left outer join room ro
		on r.room_num = ro.room_num
			GROUP BY reserve_num
			having mem_id = #{param1}
			order by reserve_date desc
	</select>
	
 	<select id="myReservePartsAdmin" resultType="co.kr.hotel.dto.ReserveDTO">
		select r.reserve_num, r.mem_id, r.reserve_state, count(*) as reserve_room_cnt
		from reserve r 
		group by reserve_num, reserve_state 
		having reserve_state = 1
	</select>
 	
 	<!-- 관리자 기능 - 회원 정보 보기 SI -->
 	<select id="memInfo" resultType="co.kr.hotel.dto.MemberDTO">
 		select *
		from mileage mi 
		inner join `member` m 
		on mi.mem_id = m.mem_id 
		where mi.mem_id = #{param1}
		order by mi.mileage_date desc limit 1
 	</select>
 	
 		<select id="memlist" resultType="co.kr.hotel.dto.MemberDTO">
 		select * from member 
 	</select>
 	
 	<select id="search" parameterType='co.kr.hotel.dto.MemberDTO' resultType="co.kr.hotel.dto.MemberDTO">
 		select * from member where ${select} = #{keyword}
 	</select>
 	
 	<select id="adminmilesearch" parameterType='co.kr.hotel.dto.MypageDTO' resultType="co.kr.hotel.dto.MypageDTO">
 		select * from mileage where mem_id=#{mem_id} order by mileage_idx desc
 		</select>
 	
 	
 	
</mapper>