<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="co.kr.hotel.dao.MemberDAO">

<!--   0311 백유나 회원정보 수정 START -->
	<select id="myprofile" resultType="co.kr.hotel.dto.MemberDTO">
	SELECT * FROM member WHERE mem_id = #{param1}
	</select>
	
	<update id="profileUpdate">
	UPDATE member SET mem_pw =#{mem_pw},mem_phone = #{mem_phone},mem_email = #{mem_email} 
	WHERE mem_id= #{mem_id}
	</update>
<!--   0311 백유나 회원정보 수정 END -->	
<!-- 	<select id="detail" resultType="co.kr.hotel.dto.BoardDTO">
	SELECT * FROM member WHERE mem_id = #{param1}
	</select>
	 -->
<!-- 0314 백유나 이메일 인증 START -->	 
	<select id="emailIdentify" resultType="string">
	SELECT mem_email FROM member WHERE mem_email = #{param1}
	</select>

	<select id="login" resultType="String">
		SELECT mem_pw FROM member WHERE mem_id = #{param1}
	</select>
	
	<select id="overlay" resultType="String">
		SELECT mem_id FROM member WHERE mem_id = #{param1}
	</select>
	
	<select id="emailcheck" resultType="string">
		SELECT mem_email FROM member WHERE mem_email = #{param1}
	
	</select>

<!--  20220317 회원가입시 마일리지 지급 - SI -->	
	<insert id="initMileage" parameterType="String">
		INSERT 
		INTO mileage( mem_id, mileage_price, mileage_useable)
		VALUES (#{param1}, 1000, 1000);
	</insert>
	
	
	<insert id="join" parameterType="hashmap">
		INSERT INTO member(mem_id,mem_grade,mem_pw,mem_name_kr,mem_name_en,mem_birth,mem_phone,mem_email)
			VALUES(#{id},#{grade},#{pw},#{name_kr},#{name_en},#{user_birth},#{user_phone},#{user_email})
	</insert>
	
	
	<select id="findid" resultType="string">
		SELECT mem_id FROM member WHERE mem_name_kr = #{param1} AND mem_birth = #{param2} AND mem_email = #{param3}
	</select> 

	<update id="findpw">
		UPDATE member SET mem_pw = #{param3} WHERE mem_id = #{param1} AND mem_email = #{param2}
	</update>
	
	<select id="logmem_grade" resultType="co.kr.hotel.dto.MemberDTO">
		select mem_grade from `member` m where mem_id = #{param1}
	</select>
	

</mapper>