<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="co.kr.hotel.dao.ReserveDAO">


	<select id="toReservelist" resultType="co.kr.hotel.dto.RoomDTO">
	
		SELECT distinct r.room_num,r.room_type, r.room_price, r.room_type_name,p.room_img FROM room r inner join photo p ON r.room_num = p.room_num 
		WHERE r.room_num not in 
		(select room_num from reserve
		WHERE checkindate  BETWEEN #{param1} AND #{param2} OR
		checkoutdate  BETWEEN #{param1} AND #{param2} OR
		(checkindate  &gt;= #{param1} AND checkoutdate  &lt;= #{param2}) and reserve_state = 1) 
		and 
		(room_img = '디럭스1.png' and bed_type = 1 
		or room_img = '프리미어1.png' and bed_type = 1 
		or room_img = '패밀리1.png' and bed_type = 1 
		or room_img = '스위트1.png' and bed_type = 1)
		order by r.room_type,p.room_img;
	</select>
	
	<!-- <select id="myReserve1" resultType="co.kr.hotel.dto.ReserveDTO">
		SELECT r.*, sum(p.amount) as reserve_amount
		FROM (
			SELECT *
		    FROM reserve
		    ORDER BY reserve_date desc, reserve_state desc
		    LIMIT 18446744073709551615
		) as r
		left outer join pay p 
		on r.reserve_idx = p.reserve_idx 
			GROUP BY reserve_num
			having mem_id = ${param1}
	</select>
	
	<select id="myReserve2" resultType="co.kr.hotel.dto.ReserveDTO">
		select reserve_num, mem_id, reserve_state, count(*) as reserve_room_cnt
		from reserve r 
		group by reserve_num, reserve_state 
		having mem_id = ${param} and reserve_state = 1
	</select> -->
	
</mapper>



