<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="co.kr.hotel.dao.ReserveDAO">


	<select id="toReservelist" resultType="co.kr.hotel.dto.RoomDTO">
	
		SELECT distinct r.room_num,r.room_type, r.room_price, r.room_type_name,p.room_img FROM room r inner join photo p ON r.room_num = p.room_num 
		WHERE r.room_num not in 
		(select room_num from reserve
		WHERE checkindate  BETWEEN #{param1} AND #{param2} OR
		checkoutdate  BETWEEN #{param1} AND #{param2} OR
		(checkindate  &gt;= #{param1} AND checkoutdate  &lt;= #{param2}) and reserve_state = 1) 
		and 
		(room_img = '디럭스1.png' and bed_type = 1 
		or room_img = '프리미어1.png' and bed_type = 1 
		or room_img = '패밀리1.png' and bed_type = 1 
		or room_img = '스위트1.png' and bed_type = 1)
		order by r.room_type,p.room_img;
	</select>

	
	<select id="reservation_option" resultType="hashmap">
		SELECT * FROM room_option
	</select>
	
	<select id="reservation_product" resultType="hashmap">
		SELECT * FROM product
	</select>
	
	<select id="useable" resultType="int">
		SELECT m.mileage_useable FROM mileage m WHERE mem_id = #{param1} order by mileage_date desc limit 1;
	</select>

	 
</mapper>
